h1 {
    margin-bottom: 20px;
}

.body {
    padding: 35px;
}

.navbar {
    background-color: #b3d8ff;
}

.intro {
    font-size:20pt;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.stat-box {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(197, 197, 197);
    border-radius: 25px;
    background: #f9f9f9;
    padding: 15px 25px;
}

.tabcontent {
    display: none;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    padding: 20px;
    background: #e8f0ff;
}

.sidebar-sub-entry {
    text-indent: 2em;
    font-style: italic;
    font-size: 14px;
}