{% extends 'base.html' %}

{% block content %}
  <div class="wrapper">
    <nav id="sidebar">
      <ul class="list-unstyled components">
        <p style="font-size: 18px">Collections</p>
        {% for key, collection in collections.items %}
          <li>
            <a href="#{{ key }}">{{ collection.object }}</a>
            {% for urlpattern in collection.urls %}
              <div class="sidebar-sub-entry">{{ urlpattern }}</div>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    <nav id="content" class="charts-body">
      <div class="row">
        <div class="col-6">
          <h1>{{ object }}</h1>
        </div>
        <div class="col-6">
          <form method="GET" id="graph-date-form">
            <div class="form-row">
              <div class="fieldWrapper" style="padding: 15px;">
                {{ form.start_date.errors }}
                {{ form.start_date.label_tag }} {{ form.start_date }}
                {% if form.start_date.help_text %}
                  <p class="help">{{ form.start_date.help_text|safe }}</p>
                {% endif %}
              </div>
              <div class="fieldWrapper" style="padding: 15px;">
                {{ form.end_date.errors }}
                {{ form.end_date.label_tag }} {{ form.end_date }}
                {% if form.end_date.help_text %}
                  <p class="help">{{ form.end_date.help_text|safe }}</p>
                {% endif %}
              </div>
            </div>
            <div class="form-row">
              <p class="help" style="padding-left: 15px;">
                Note: Date filters always consider full month.
              </p>
            </div>
            <div class="form-row">
              {% if object.limit_by_user %}
                <div class="fieldWrapper" style="padding: 15px;">
                  {{ form.limit_to_user_list.errors }}
                  {{ form.limit_to_user_list.label_tag }} {{ form.limit_to_user_list }}
                  {% if form.limit_to_user_list.help_text %}
                      <p class="help">{{ form.limit_to_user_list.help_text|safe }}</p>
                  {% endif %}
                </div>
              {% endif %}
              <div class="col">
                <button type="submit" class="btn btn-primary" style="margin: 5px;">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      {% include "organisations/organisation_charts_include.html" %}
    </nav>
  </div>
{% endblock %}
