{% extends 'base.html' %}

{% block content %}
    <div class="body">
        <h1>Organisations</h1>
        <div class="row row-flex">
            {% for organisation in object_list %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ organisation }}</h5>
                        {% if organisation.collection_count > 1 %}
                            <h6 class="card-subtitle mb-2 text-muted">Collections: {{ organisation.collection_count }}</h6>
                        {% endif %}
                        <a href="{% url 'organisations:detail' organisation.pk %}" class="btn btn-outline-dark">Overview</a>
                    </div>
                </div>
            {% empty %}
                No organisations.
            {% endfor %}
        </div>
    </div>
{% endblock %}
