{% load static %}
{% load common_filters %}

<div class="container-fluid">
  {% for key, collection in collections.items %}
    <hr>
    <div class="row">
      <h2 id="{{ key }}">{{ collection.object.name }}</h2>
    </div>
    <div class="row" style="margin-bottom:25px;">
      {% for urlpattern in collection.urls %}
        {{ urlpattern }}
      {% endfor %}
    </div>
    <div class="row">
      <div class="tab col-8">
        <button class="tablinks" onclick="openGraph(event, '{{ key }}', '{{ key }}_LinkEvents')" id="{{ key }}_linkEvents_button">Link events</button>
        <button class="tablinks" onclick="openGraph(event, '{{ key }}', '{{ key }}_TotalLinks')" id="{{ key }}_totalLinks_button">Total links</button>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div id="{{ key }}_LinkEvents" class="graph-box tabcontent">
          <canvas id="{{ key }}_eventStreamChart" width="700" height="400"></canvas>
        </div>
        <div id="{{ key }}_TotalLinks" class="graph-box tabcontent">
            <canvas id="{{ key }}_totalLinksChart" width="700" height="400"></canvas>
        </div>
      </div>
    <div class="col-3 stat-box">
      {% include "common/statistics_table.html" %}
    </div>
    </div>
    <div class="row" style="margin-top:40px;">
        <h3>Totals</h3>
    </div>
    <div class="row">
      <div class="col-4">
        <table id="{{ collection.collection_id }}-top-pages-table" class="table">
          <tr>
            <th>Page</th>
            <th>Added Links</th>
          </tr>
        </table>
        <div style="text-align:right;">
          <a href="{% url 'organisations:csv_page_totals' pk=collection.object.pk %}?{{ query_string }}" class="btn btn-outline-primary">Download CSV</a>
        </div>
      </div>
      <div class="col-4">
        <table id="{{ collection.collection_id }}-top-projects-table" class="table">
          <tr>
            <th>Project</th>
            <th>Added Links</th>
          </tr>
        </table>
        <div style="text-align:right;">
          <a href="{% url 'organisations:csv_project_totals' pk=collection.object.pk %}?{{ query_string }}" class="btn btn-outline-primary">Download CSV</a>
        </div>
      </div>
      <div class="col-4">
        <table id="{{ collection.collection_id }}-top-users-table" class="table">
          <tr>
            <th>Username</th>
            <th>Added Links</th>
          </tr>
        </table>
        <div style="text-align:right;">
          <a href="{% url 'organisations:csv_user_totals' pk=collection.object.pk %}?{{ query_string }}" class="btn btn-outline-primary">Download CSV</a>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:40px;">
      <h3>Latest link events</h3>
      <table id="{{ collection.collection_id }}-link-events-table" class="table">
        <tr id="{{ collection.collection_id }}-link-events-button-container">
          <td> <button id="{{ collection.collection_id }}-link-events-load-button" 
              onclick='getLatestLinkEvents({{ collection.collection_id|safe }}, {{ form_data|safe }})' 
              class="btn btn-outline-primary"> Load Latest Link Events</button> </td>
        </tr>
        <tr id="{{ collection.collection_id }}-link-events-table-header">
          <th>Link</th>
          <th>User</th>
          <th>Page</th>
          <th>Project</th>
          <th>Timestamp</th>
        </tr>
      </table>
      <div style="text-align:right;">
        <a href="{% url 'organisations:csv_all_links' pk=object.pk %}?{{ query_string }}" class="btn btn-outline-primary">Download {% now "Y" %} CSV</a>
      </div>
    </div>
  {% endfor %}
</div>

<script type="text/javascript">
  {% for collection_name, collection in collections.items %}
    var {{ collection_name }}_ctx = document.getElementById('{{ collection_name }}_eventStreamChart').getContext('2d');
    var {{ collection_name }}_eventStreamChart = new Chart({{ collection_name }}_ctx, {
      type: 'line',
      data: {
        labels: {{ collection.eventstream_dates | safe }},
        datasets: [
          {
            label: "Net Changes",
            borderColor: '#3b8ba5',
            fill: false,
            data: {{ collection.eventstream_net_change }},
            tension: 0.2
          },
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              callback: function (value) { if (Number.isInteger(value)) { return value; } },
            }
          }]
        },
      },
    });

    var {{ collection_name }}_ctx_ls = document.getElementById('{{ collection_name }}_totalLinksChart').getContext('2d');
    var {{ collection_name }}_totalLinksChart = new Chart({{ collection_name }}_ctx_ls, {
      type: 'line',
      data: {
        labels: {{ collection.linksearch_dates | safe }},
        datasets: [
          {
            label: "Total",
            fill: false,
            borderColor: 'rgba(100,220,128,0.81)',
            data: {{ collection.linksearch_data }},
            tension: 0.2
          }
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              callback: function (value) { if (Number.isInteger(value)) { return value; } },
            }
          }]
        },
      },
    });

    // Click all Link Events chart section TESTETETETETETETETET
    document.getElementById('{{ collection_name }}_linkEvents_button').click();
    var form_data = {{ form_data|safe }};
    var collection_id = {{ collection.collection_id|safe }};
    console.log("Loading information for collection " + collection_id);
    getLinksCount(collection_id, form_data);
    getEditorCount(collection_id, form_data);
    getProjectCount(collection_id, form_data);
    getTopPages(collection_id, form_data);
    getTopProjects(collection_id, form_data);
    getTopUsers(collection_id, form_data);
    // Do not display table header because there is no data on load
    document.getElementById(collection_id + "-link-events-table-header").style.display = "none";
  {% endfor %}

  function openGraph(evt, collection, graphName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Hide all graphs related to the clicked graph's collection
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      if (tabcontent[i].id.indexOf(collection)!=-1) {
          tabcontent[i].style.display = "none";
      }
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      if (tabcontent[i].id.indexOf(collection)!=-1) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(graphName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  function getLinksCount(collection_id, form_data){
    $.ajax({
      url: "{% url 'organisations:links_count' %}?collection=" + collection_id + "&form_data=" + JSON.stringify(form_data),
      beforeSend: function() {
        document.getElementById(collection_id + "-links-added").innerHTML = "Loading...";
        document.getElementById(collection_id + "-links-removed").innerHTML = "Loading...";
        document.getElementById(collection_id + "-links-diff").innerHTML = "Loading...";
      },
      // on success
      success: function(response) {
        document.getElementById(collection_id + "-links-added").innerHTML = response.links_added;
        document.getElementById(collection_id + "-links-removed").innerHTML = response.links_removed;

        if (response.links_diff > 0) {
         document.getElementById(collection_id + "-links-diff").innerHTML = "+" + response.links_diff;
         document.getElementById(collection_id + "-links-diff").style.color = "green";
       }
       else{
         document.getElementById("links-diff").innerHTML = response.links_diff;
         document.getElementById("links-diff").style.color = "red";
       }
      },
      // on error
      error: function(response) {
          // alert the error if any error occured
          console.log(response.responseJSON.errors);
      }
    });
  }

  function getEditorCount(collection_id, form_data){
    $.ajax({
     url: "{% url 'organisations:editor_count' %}?collection=" + collection_id + "&form_data=" + JSON.stringify(form_data),
     beforeSend: function() {
       document.getElementById(collection_id + "-total-editors").innerHTML = "Loading...";
     },
     // on success
     success: function(response) {
       document.getElementById(collection_id + "-total-editors").innerHTML = response.editor_count;
     },
     // on error
     error: function(response) {
         // alert the error if any error occured
         console.log(response.responseJSON.errors)
     }
   });
  }

  function getProjectCount(collection_id, form_data){
    $.ajax({
     url: "{% url 'organisations:project_count' %}?collection=" + collection_id + "&form_data=" + JSON.stringify(form_data),
     beforeSend: function() {
       document.getElementById(collection_id + "-total-projects").innerHTML = "Loading...";
     },
     // on success
     success: function(response) {
       document.getElementById(collection_id + "-total-projects").innerHTML = response.project_count;
     },
     // on error
     error: function(response) {
         // alert the error if any error occured
         console.log(response.responseJSON.errors)
     }
   });
  }

  function getTopPages(collection_id, form_data){
    $.ajax({
      url: "{% url 'organisations:top_pages' %}?collection=" + collection_id + "&form_data=" + JSON.stringify(form_data),
      beforeSend: function() {
        // Show loading spinner
        var loadingSpinner = document.createElement("div");
        loadingSpinner.id = collection_id + "-loading-spinner-pages";
        loadingSpinner.classList.add("spinner-border");
        loadingSpinner.role = "status";
        loadingSpinner.innerHTML = '<span class="sr-only">Loading...</span>';
        document.getElementById(collection_id + "-top-pages-table").appendChild(loadingSpinner);
      },
      // on success
      success: function(response) {
        document.getElementById(collection_id + "-loading-spinner-pages").style.display = "none";
        // Building table data
        pages = JSON.parse(response.top_pages)
        for (var i = 0; i < pages.length; i++) {
          var tr = document.createElement("tr");
          var tdPageName = document.createElement("td");
          var a = document.createElement("a");
          a.href = "https://" + pages[i].project_name+"/wiki/" + pages[i].page_name;
          a.appendChild(document.createTextNode(pages[i].page_name));
          tdPageName.appendChild(a);
          var tdLinks = document.createElement("td");
          tdLinks.innerHTML = pages[i].links_diff;
          tr.appendChild(tdPageName);
          tr.appendChild(tdLinks);
          document.getElementById(collection_id + "-top-pages-table").appendChild(tr);
        }

      },
      // on error
      error: function(response) {
        // alert the error if any error occured
        console.log(response.responseJSON.errors)
      }
    });
  }

  function getTopProjects(collection_id, form_data){
    $.ajax({
      url: "{% url 'organisations:top_projects' %}?collection=" + collection_id + "&form_data=" + JSON.stringify(form_data),
      beforeSend: function() {
        // Show loading spinner
        var loadingSpinner = document.createElement("div");
        loadingSpinner.id = collection_id + "-loading-spinner-projects";
        loadingSpinner.classList.add("spinner-border");
        loadingSpinner.role = "status";
        loadingSpinner.innerHTML = '<span class="sr-only">Loading...</span>';
        document.getElementById(collection_id + "-top-projects-table").appendChild(loadingSpinner);
      },
      // on success
      success: function(response) {
        document.getElementById(collection_id + "-loading-spinner-projects").style.display = "none";
        // Building table data
        projects = JSON.parse(response.top_projects)
        for (var i = 0; i < projects.length; i++) {
          var tr = document.createElement("tr");
          var tdProjectName = document.createElement("td");
          tdProjectName.appendChild(document.createTextNode(projects[i].project_name));
          var tdLinks = document.createElement("td");
          tdLinks.innerHTML = projects[i].links_diff;
          tr.appendChild(tdProjectName);
          tr.appendChild(tdLinks);
          document.getElementById(collection_id + "-top-projects-table").appendChild(tr);
        }

      },
      // on error
      error: function(response) {
        // alert the error if any error occured
        console.log(response.responseJSON.errors)
      }
    });
  }

  function getTopUsers(collection_id, form_data){
    $.ajax({
      url: "{% url 'organisations:top_users' %}?collection=" + collection_id + "&form_data=" + JSON.stringify(form_data),
      beforeSend: function() {
        //Show loading spinner
        var loadingSpinner = document.createElement("div");
        loadingSpinner.id = collection_id + "-loading-spinner-users";
        loadingSpinner.classList.add("spinner-border");
        loadingSpinner.role = "status";
        loadingSpinner.innerHTML = '<span class="sr-only">Loading...</span>';
        document.getElementById(collection_id + "-top-users-table").appendChild(loadingSpinner);
      },
      // on success
      success: function(response) {
        document.getElementById(collection_id + "-loading-spinner-users").style.display = "none";
        // Building table data
        users = JSON.parse(response.top_users)
        for (var i = 0; i < users.length; i++) {
          var tr = document.createElement("tr");
          var tdUsername = document.createElement("td");
          var a = document.createElement("a");
          a.href = "https://meta.wikimedia.org/wiki/User:" + users[i].username;
          a.appendChild(document.createTextNode(users[i].username));
          tdUsername.appendChild(a);
          var tdLinks = document.createElement("td");
          tdLinks.innerHTML = users[i].links_diff;
          tr.appendChild(tdUsername);
          tr.appendChild(tdLinks);
          document.getElementById(collection_id + "-top-users-table").appendChild(tr);
        }
      },
      // on error
      error: function(response) {
        // alert the error if any error occured
        console.log(response.responseJSON.errors)
      }
    });
  }
  
  function getLatestLinkEvents(collection_id, form_data){
    $.ajax({
      url: "{% url 'organisations:latest_link_events' %}?collection=" + collection_id + "&form_data=" + JSON.stringify(form_data),
      beforeSend: function() {
        //Show loading spinner
        var loadingSpinner = document.createElement("div");
        loadingSpinner.id = collection_id + "-loading-spinner-latest-link-events";
        loadingSpinner.classList.add("spinner-border");
        loadingSpinner.role = "status";
        loadingSpinner.innerHTML = '<span class="sr-only">Loading...</span>';
        document.getElementById(collection_id + "-link-events-table").appendChild(loadingSpinner);
      },
      // on success
      success: function(response) {
        document.getElementById(collection_id + "-loading-spinner-latest-link-events").style.display = "none";
        document.getElementById(collection_id + "-link-events-button-container").style.display = "none";
        document.getElementById(collection_id + "-link-events-table-header").style.display = "table-row";
        // Building table data
        latest_link_events = JSON.parse(response.latest_link_events);
        if(latest_link_events.length < 1){
          document.getElementById(collection_id + "-link-events-table").appendChild(document.createTextNode("No data available"));
        }
        for (var i = 0; i < latest_link_events.length; i++) {
          var tr = document.createElement("tr");
          if(latest_link_events[i].change === 1){
            tr.style.backgroundColor = "rgba(5,255,57,0.12)";
          } else{
            tr.style.backgroundColor = "rgba(255,46,44,0.12)";
          }
          var tdLink = document.createElement("td");
          var aLink = document.createElement("a");
          aLink.href=latest_link_events[i].link;
          aLink.appendChild(document.createTextNode(truncateString(latest_link_events[i].link, 50)));
          tdLink.appendChild(aLink);
          var tdUsername = document.createElement("td");
          var aUsername = document.createElement("a");
          aUsername.href = "https://"+latest_link_events[i].domain+"/wiki/User:" + latest_link_events[i].username__username;
          aUsername.appendChild(document.createTextNode(truncateString(latest_link_events[i].username__username, 12)));
          tdUsername.appendChild(aUsername);
          var tdPageTitle = document.createElement("td");
          var aPageTitle = document.createElement("a");
          aPageTitle.href = "https://"+latest_link_events[i].domain+"/wiki/" + latest_link_events[i].page_title;
          var transformedPageTitle = truncateString(latest_link_events[i].page_title, 20).replace("_", " ");
          aPageTitle.appendChild(document.createTextNode(transformedPageTitle));
          tdPageTitle.appendChild(aPageTitle);
          var tdDomain = document.createElement("td");
          tdDomain.innerHTML = latest_link_events[i].domain;
          var tdRev = document.createElement("td");
          var aRev = document.createElement("a");
          aRev.href = "https://"+latest_link_events[i].domain+"/wiki/Special:Diff" + latest_link_events[i].rev_id;
          aRev.appendChild(document.createTextNode(latest_link_events[i].date));
          tdRev.appendChild(aRev);
          tr.appendChild(tdLink);
          tr.appendChild(tdUsername);
          tr.appendChild(tdPageTitle);
          tr.appendChild(tdDomain);
          tr.appendChild(tdRev);
          document.getElementById(collection_id + "-link-events-table").appendChild(tr);
        }
      },
      // on error
      error: function(response) {
        // alert the error if any error occured
        console.log(response.responseJSON.errors)
      }
    });
  }

  function truncateString(str, num){
    // If the length of str is less than or equal to num
    // just return str--don't truncate it.
    if (str.length <= num) {
      return str
    }
    // Return str truncated with '...' concatenated to the end of str.
    // Subtract 3 to account for the ...
    return str.slice(0, num-3) + '...'
  }
</script>
