{% extends 'base.html' %}

{% block content %}
    <div class="body">
        <h1>Organisations</h1>
        <div class="row row-flex">
            {% for organisation in object_list %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ organisation }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Collections: {{ organisation.get_collection_count }}</h6>
                        <a href="{% url 'programs:organisation-detail' organisation.pk %}" class="card-link">Overview</a>
                    </div>
                </div>
            {% empty %}
                No organisations.
            {% endfor %}
        </div>
    </div>
{% endblock %}
