{% extends 'base.html' %}

{% block content %}
    <h1>Programs</h1>
    {% for program in object_list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ program }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Organisations: {{ program.get_org_count }}</h6>
                <p class="card-text">{{ program.description }}</p>
                <a href="{% url 'programs:detail' program.pk %}" class="card-link">Overview</a>
            </div>
        </div>
    {% empty %}
        No programs.
    {% endfor %}
{% endblock %}
