{% load static %}
{% load common_filters %}

<hr style="width: 100%;">
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <canvas id="eventStreamChart" width="700" height="400"></canvas>
    </div>
    <div class="col-3 stat-box">
      {% include "common/statistics_table.html" %}
    </div>
  </div>
  <div class="row" style="margin-top:40px;">
    <h2>Totals</h2>
  </div>
  <div class="row">
    <div class="col-4">
      {% include "common/top_organisations_table.html" %}
      <div style="text-align:right;">
        <a href="{% url 'programs:csv_org_totals' pk=object.pk %}?{{ query_string }}" class="btn btn-outline-primary">Download CSV</a>
      </div>
    </div>
    <div class="col-4">
        <table id="top-projects-table" class="table">
          <tr>
            <th>Project</th>
            <th>Added Links</th>
          </tr>
        </table>
        <div style="text-align:right;">
            <a href="{% url 'programs:csv_project_totals' pk=object.pk %}?{{ query_string }}" class="btn btn-outline-primary">Download CSV</a>
        </div>
    </div>
    <div class="col-4">
      <table id="top-users-table" class="table">
        <tr>
          <th>Username</th>
          <th>Added Links</th>
        </tr>
      </table>
      <div style="text-align:right;">
        <a href="{% url 'programs:csv_user_totals' pk=object.pk %}?{{ query_string }}" class="btn btn-outline-primary">Download CSV</a>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:40px;">
    <h2>Get link events</h2>
  </div>
  <div class="row">
    <div style="text-align:right;">
      <a href="{% url 'programs:csv_all_links' pk=object.pk %}?{{ query_string }}" class="btn btn-outline-primary">Download CSV</a>
    </div>
  </div>
</div>
<script type="text/javascript">
    var form_data = {{ form_data|safe }};
    var orgs_values = {{ orgs_values|safe }};
    document.body.onload = function() {
      getEditorCount( orgs_values, form_data ),
      getProjectCount( orgs_values, form_data ),
      getLinksCount( orgs_values, form_data ),
      getTopOrganisations( orgs_values, form_data ),
      getTopProjects( orgs_values, form_data ),
      getTopUsers( orgs_values, form_data )
    };
    var ctx = document.getElementById('eventStreamChart').getContext('2d');
    var eventStreamChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: {{ eventstream_dates | safe }},
          datasets: [
              {
                label: "Net Changes",
                borderColor: '#3b8ba5',
                fill: false,
                data: {{ eventstream_net_change }},
                tension: 0.2
              },
          ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                callback: function (value) { if (Number.isInteger(value)) { return value; } },
              }
            }]
          },
        },
    })

    function getLinksCount(org_values, form_data){
      $.ajax({
       url: "{% url 'programs:links_count' %}?organisations=" + orgs_values + "&form_data=" + JSON.stringify(form_data),
       beforeSend: function() {
         document.getElementById("links-added").innerHTML = "Loading...";
         document.getElementById("links-removed").innerHTML = "Loading...";
         document.getElementById("links-diff").innerHTML = "Loading...";
       },
       // on success
       success: function(response) {
         document.getElementById("links-added").innerHTML = response.links_added;
         document.getElementById("links-removed").innerHTML = response.links_removed;

         if (response.links_diff > 0) {
          document.getElementById("links-diff").innerHTML = "+" + response.links_diff;
          document.getElementById("links-diff").style.color = "green";
        }
        else{
          document.getElementById("links-diff").innerHTML = response.links_diff;
          document.getElementById("links-diff").style.color = "red";
        }
       },
       // on error
       error: function(response) {
           // alert the error if any error occured
           console.log(response.responseJSON.errors)
       }
     });
    }

    function getEditorCount(orgs_values, form_data){
      $.ajax({
       url: "{% url 'programs:editor_count' %}?organisations=" + orgs_values + "&form_data=" + JSON.stringify(form_data),
       beforeSend: function() {
         document.getElementById("total-editors").innerHTML = "Loading...";
       },
       // on success
       success: function(response) {
         document.getElementById("total-editors").innerHTML = response.editor_count;
       },
       // on error
       error: function(response) {
           // alert the error if any error occured
           console.log(response.responseJSON.errors)
       }
     });
    }

    function getProjectCount(orgs_values, form_data){
      $.ajax({
        url: "{% url 'programs:project_count' %}?organisations=" + orgs_values + "&form_data=" + JSON.stringify(form_data),
        beforeSend: function() {
          document.getElementById("total-projects").innerHTML = "Loading...";
        },
        // on success
        success: function(response) {
          document.getElementById("total-projects").innerHTML = response.project_count;
        },
        // on error
        error: function(response) {
          // alert the error if any error occured
          console.log(response.responseJSON.errors)
        }
      });
    }

    function getTopOrganisations(orgs_values, form_data){
      $.ajax({
        url: "{% url 'programs:top_organisations' %}?organisations=" + orgs_values + "&form_data=" + JSON.stringify(form_data),
        beforeSend: function() {
          // Show loading spinner
          var loadingSpinner = document.createElement("div");
          loadingSpinner.id = "loading-spinner-organisations";
          loadingSpinner.classList.add("spinner-border");
          loadingSpinner.role = "status";
          loadingSpinner.innerHTML = '<span class="sr-only">Loading...</span>';
          document.getElementById("top-organisations-table").appendChild(loadingSpinner);
        },
        // on success
        success: function(response) {
          document.getElementById("loading-spinner-organisations").style.display = "none";
          // Building table data
          organisations = JSON.parse(response.top_organisations)
          for (var i = 0; i < organisations.length; i++) {
            var tr = document.createElement("tr");
            var tdOrgName = document.createElement("td");
            var a = document.createElement("a");
            a.href = "{% url 'organisations:detail' pk=12345 %}".replace(/12345/, organisations[i].organisation__pk.toString());
            a.appendChild(document.createTextNode(organisations[i].organisation__name));
            tdOrgName.appendChild(a);
            var tdLinks = document.createElement("td");
            tdLinks.innerHTML = organisations[i].links_diff;
            tr.appendChild(tdOrgName);
            tr.appendChild(tdLinks);
            document.getElementById("top-organisations-table").appendChild(tr);
          }

        },
        // on error
        error: function(response) {
          // alert the error if any error occured
          console.log(response.responseJSON.errors)
        }
      });
    }

    function getTopProjects(orgs_values, form_data){
      $.ajax({
        url: "{% url 'programs:top_projects' %}?organisations=" + orgs_values + "&form_data=" + JSON.stringify(form_data),
        beforeSend: function() {
          // Show loading spinner
          var loadingSpinner = document.createElement("div");
          loadingSpinner.id = "loading-spinner-projects";
          loadingSpinner.classList.add("spinner-border");
          loadingSpinner.role = "status";
          loadingSpinner.innerHTML = '<span class="sr-only">Loading...</span>';
          document.getElementById("top-projects-table").appendChild(loadingSpinner);
        },
        // on success
        success: function(response) {
          document.getElementById("loading-spinner-projects").style.display = "none";
          // Building table data
          projects = JSON.parse(response.top_projects)
          for (var i = 0; i < projects.length; i++) {
            var tr = document.createElement("tr");
            var tdProjectName = document.createElement("td");
            tdProjectName.appendChild(document.createTextNode(projects[i].project_name));
            var tdLinks = document.createElement("td");
            tdLinks.innerHTML = projects[i].links_diff;
            tr.appendChild(tdProjectName);
            tr.appendChild(tdLinks);
            document.getElementById("top-projects-table").appendChild(tr);
          }

        },
        // on error
        error: function(response) {
          // alert the error if any error occured
          console.log(response.responseJSON.errors)
        }
      });
    }

    function getTopUsers(orgs_values, form_data){
      $.ajax({
        url: "{% url 'programs:top_users' %}?organisations=" + orgs_values + "&form_data=" + JSON.stringify(form_data),
        beforeSend: function() {
          //Show loading spinner
          var loadingSpinner = document.createElement("div");
          loadingSpinner.id = "loading-spinner-users";
          loadingSpinner.classList.add("spinner-border");
          loadingSpinner.role = "status";
          loadingSpinner.innerHTML = '<span class="sr-only">Loading...</span>';
          document.getElementById("top-users-table").appendChild(loadingSpinner);
        },
        // on success
        success: function(response) {
          document.getElementById("loading-spinner-users").style.display = "none";
          // Building table data
          users = JSON.parse(response.top_users)
          for (var i = 0; i < users.length; i++) {
            var tr = document.createElement("tr");
            var tdUsername = document.createElement("td");
            var a = document.createElement("a");
            a.href = "https://meta.wikimedia.org/wiki/User:" + users[i].username;
            a.appendChild(document.createTextNode(users[i].username));
            tdUsername.appendChild(a);
            var tdLinks = document.createElement("td");
            tdLinks.innerHTML = users[i].links_diff;
            tr.appendChild(tdUsername);
            tr.appendChild(tdLinks);
            document.getElementById("top-users-table").appendChild(tr);
          }

        },
        // on error
        error: function(response) {
          // alert the error if any error occured
          console.log(response.responseJSON.errors)
        }
      });
    }
</script>
