{% extends 'base.html' %}

{% block content %}
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header" style="margin-bottom:50px;">
                <h4>{{ object }}</h4>
            </div>
            <ul class="list-unstyled components">
                <p>Organisations</p>
                {% for organisation in organisations %}
                    <li>
                        <a href="{% url "programs:organisation-detail" pk=organisation.pk %}">{{ organisation }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <nav id="content" class="body">
            <h1>{{ object }}</h1>
            <p>Organisations: {{ program.get_org_count }}</p>

            {% include "programs/program_charts_include.html" %}
        </nav>
    </div>
{% endblock %}