<h4>Statistics</h4>
{% if collections %}
  <table style="width:90%; margin-top: 30px;">
      <tr class="stat-table-header">
          <td>Link events</td>
      </tr>
      <tr>
          <td>Total added:</td>
          <td id="{{ collection.collection_id }}-links-added" style="text-align: right;"></td>
      </tr>
      <tr>
          <td>Total removed:</td>
          <td id="{{ collection.collection_id }}-links-removed" style="text-align: right;"></td>
      </tr>
      <tr style="line-height:55px;">
          <td></td>
          <td id="{{ collection.collection_id }}-links-diff"></td>
      </tr>
      {% if collection.linksearch_total_start %}
        <tr class="stat-table-header">
          <td>Total links (Wikipedia only)</td>
        </tr>
        <tr>
          <td>{{ collection.linksearch_start_date }}:</td>
          <td style="text-align: right;">{{ collection.linksearch_total_start }}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td style="text-align: right;">{{ collection.linksearch_total_current }}
         {% if collection.as_of_date %}
            as of {{ collection.as_of_date  }}
         {% endif %}
        </td>
        </tr>
        <tr style="line-height:55px;">
          <td></td>
          <td style="text-align: right; font-weight: bold;
              {% if collection.linksearch_total_diff > 0 %}
                      color: green;">+
              {% else %}
                      color: red;">
              {% endif %}
              {{ collection.linksearch_total_diff }}
          </td>
        </tr>
      {% endif %}
      <tr class="stat-table-header">
        <td>Other</td>
      </tr>
      <tr>
        <td>Total editors:</td>
        <td id="{{ collection.collection_id }}-total-editors" style="text-align: right;"></td>
      </tr>
      <tr>
        <td>Total projects:</td>
        <td id="{{ collection.collection_id }}-total-projects" style="text-align: right;"></td>
      </tr>
  </table>
{% else %}
  <table style="width:90%; margin-top: 30px;">
      <tr class="stat-table-header">
        <td>Link events</td>
      </tr>
      <tr>
        <td>Total added:</td>
        <td id="links-added" style="text-align: right;"></td>
      </tr>
      <tr>
        <td>Total removed:</td>
        <td id="links-removed" style="text-align: right;"></td>
      </tr>
      <tr style="line-height:55px;">
        <td></td>
        <td id="links-diff" style="text-align: right; font-weight: bold;"></td>
      </tr>
      <tr class="stat-table-header">
        <td>Other</td>
      </tr>
      <tr>
        <td>Total editors:</td>
        <td id="total-editors" style="text-align: right;"></td>
      </tr>
      <tr>
        <td>Total projects:</td>
        <td id="total-projects" style="text-align: right;"></td>
      </tr>
  </table>
{% endif %}
