<table class="table">
    <tr>
      <th>Project</th>
      <th>Net Change</th>
    </tr>
    {% if collections %}
      {% for project in collection.top_projects %}
        <tr>
          <td>
            {{ project.project_name }}
          </td>
          <td>
            {{ project.links_diff }}
          </td>
        </tr>
      {% endfor %}
    {% else %}
      {% for project in top_projects %}
        <tr>
          <td>
            {{ project.project_name }}
          </td>
          <td>
            {{ project.links_diff }}
          </td>
        </tr>
      {% endfor %}
    {% endif %}
</table>
