<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Wikimedia External Links Tool</title>

        <link rel="icon" type="image/png" href="/static/favicon.ico">
        <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/local.css" type="text/css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
            <a class="navbar-brand" href="/">Wikilink</a>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/programs/">Programs</a>
                <a class="nav-item nav-link" href="/organisations/">Organisations</a>
                <a class="nav-item nav-link" href="/docs">What is this?</a>
            </div>
        </nav>

        <div class="main-content">
            <div class="body">
                <h1>500 Internal Server Error</h1>
                <p>Sorry; something went wrong.</p>
            </div>
        </div>

        <hr/>

        <div class="footer">
            A <a href="https://meta.wikimedia.org/wiki/The_Wikipedia_Library">Wikipedia Library</a> project -
            <a href="https://github.com/WikipediaLibrary/externallinks">Github</a> -
            <a href="https://phabricator.wikimedia.org/project/board/4082/">Phabricator</a> -
            <a href="https://meta.wikimedia.org/wiki/Wikilink_tool">Meta</a>
        </div>

        <script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
