{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Wikimedia External Links Tool
    </title>

    <link rel="icon" type="image/png" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/Chart.js/2.8.0/Chart.css" />
    <link rel="stylesheet" href="{% static "css/local.css" %}" type="text/css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <a class="navbar-brand" href="{% url 'homepage' %}">Wikilink</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'programs:list' %}">Programs</a>
        <a class="nav-item nav-link" href="{% url 'organisations:list' %}">Organisations</a>
        <a class="nav-item nav-link" href="{% url 'documentation' %}">What is this?</a>
    </div>
</nav>

<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="main-content">
    {% block content %}
    {% endblock %}
</div>

<hr/>
<div class="footer">
    A <a href="https://meta.wikimedia.org/wiki/The_Wikipedia_Library">Wikipedia Library</a> project -
    <a href="https://github.com/WikipediaLibrary/externallinks">Github</a> -
    <a href="https://phabricator.wikimedia.org/project/board/4082/">Phabricator</a> -
    <a href="https://meta.wikimedia.org/wiki/Wikilink_tool">Meta</a>
</div>

</body>
</html>
