{% extends 'base.html' %}

{% block content %}
<div class="body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="intro">
                Wikilink
            </div>
        </div>
    </div>

    <p>
        The Wikilink tool collates and presents data on the addition, removal, and total number of links to websites on
        Wikimedia projects. It tracks the
        <a href="https://stream.wikimedia.org/?doc#!/Streams/get_v2_stream_page_links_change">page-links-change</a>
        event stream for link additions and removals for specified URL Patterns, and queries the
        <a href="https://www.mediawiki.org/wiki/Manual:Externallinks_table">externallinks table</a> to retrieve totals.
    </p>
    <p>
        The tool currently only supports <a href="https://meta.wikimedia.org/wiki/The_Wikipedia_Library">The Wikipedia
        Library</a> program, however support for other programs and partnerships is planned.
    </p>
</div>

{% endblock %}